/*Aqui empieza la parte de la barra superior*/
.nav-link {
    color: white;
}
.navbar-brand{
    color: white;
}
.navbar-nav .nav-link {
    color: white; /* Color del texto cuando pulsas en los link*/
}
.navbar-brand:hover {
    color: white; /* Color del texto cuando pasas el cursor por encima*/
}
.item {/*Edita toda la barra superior de la pagina*/
    background: grey;
    min-height: 30px;
    min-width: 30px;
    border: 1px solid black;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}
.boton{
    position: fixed;
    right: 20px;/*hace que se quede a 20px de la derecha de la pagina*/
}/*Aqui termina la parte de la barra superior*/

/*Fondo de pantalla de abajo*/
body{
    background-image: url(https://img.freepik.com/foto-gratis/fondo-pantalla-patron-fondo-abstracto-grunge-negro-foto-gratis_1340-33848.jpg);
    background-size: cover; /*hace que la imagen se ajuste al texto*/
    background-repeat: no-repeat;/*evita que la imagen de fondo se repita*/
    background-attachment: fixed;/*fija la imagen en su sitio mientras se desplaza la pagina*/
    background-position: center center; /* Centra la imagen de fondo */
    z-index: 1; 
}/*Termina el fondo de pantalla de abajo*/

/*Primer fondo, texto bienvenido y enlace para bajar a la parte importante*/
.Primer-Fondo{
    background-image: url(https://cdn.pixabay.com/photo/2023/07/23/10/14/automobile-8144843_1280.png);
    background-size: cover; /*hace que la imagen se ajuste al texto*/
    background-repeat: no-repeat;/*evita que la imagen de fondo se repita*/
    background-attachment: fixed;/*fija la imagen en su sitio mientras se desplaza la pagina*/
    background-position: center center; /* Centra la imagen de fondo */
    height: 100vh; /* Establece la altura de la página para que ocupe toda la ventana */
    z-index: 2;
}
.text-ini{/*texto de 'bienvenidos a nuestra pagina'*/
    color: white;
    text-align:center;
    padding-top: 16.2%;/*Poner espacio entre el top y las letras para que se quede en el centro de la pantalla*/
}
h1{
    font-size: 90px;/*Aumenta el texto de 'bienvenidos' en 90px*/
}
h3{
    font-size: 40px;/*Aumenta el texto de 'a nuestra pagina' en 90px*/
}
.linkFoto {
    position: relative;
    width: 100%;/*ocuopa el 100% de la pantalla*/
    height: 100%;/*ocuopa el 100% de la pantalla*/
}
.linkFoto a {
    position: absolute;
    top: 0;/*para que siemre este pegado al top de la pagina*/
    left: 0;/*para que siemre este pegado a la izquierda de la pagina*/
    width: 100%;/*ocuopa el 100% de la pantalla*/
    height: 100%;/*ocuopa el 100% de la pantalla*/
    background: rgba(0, 0, 0, 0); /* Fondo transparente */
    text-indent: -9999px; /* Oculta el texto del enlace */
    z-index: 3;/*capa de la imagen, tiene que estar por encima que la imagen de primer-fondo*/ 
}/*fin del primer fondo y enlace para bajar a la parte importante*/

/*Parte de las imagenes, nombres y pagina de nuevo elemento*/
.Imagenes .container .container-fluid .mt-3 .mb-3 .ml3 .mr3 .img-fluid{
    display: flex;/*disposicion de las figuras*/
    justify-content: space-between;/*que las figuras tengan espacio entre cada una*/
    position: relative;
    z-index: 1; /* para que se vea encima de la imagen de fondo*/
}  
.texto-agrandable {
    font-size: 16px; /* Tamaño al que esta la imagen normal*/
    transition: transform 0.2s; /* cuanto tarda en hacer la transicion */
}
.texto-agrandable:hover {
    transform: scale(1.2); /* Aumentar el tamaño al pasar el cursor por encima al 120% */
}
.container img{/*espacios entre todas las imagenes en top, bottom, left y right*/
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 55px;
    margin-right: 55px;
}
.Imagenes{
    margin-left:8%;/*margen de todo el conjunto de las figuras con la parte izquierda*/
}
h5{
    color: #808000;/*color aceituna para los nombres de los coches*/
}
h2{/*alineacion, color y margenes del texto 'ULTIMOS MODELOS DE LOS MEJORES COCHES'*/
    text-align:center;
    color:white;
    margin-right:140px;
    margin-top:80px;
    margin-bottom:40px;
}/*Termina la parte de las imagenes, nombres y pagina de nuevo elemento*/
