<!DOCTYPE html>
<html>
{{#post}}
<head>
    <base href="/">
    <title>{{nombre}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css\styleSecundaria.css" />
</head>

<body>
    <!-- barra superior de la página -->
    <nav class="navbar navbar-expand-md bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand"> TU GT EN CASA </a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">MENU </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pagNewElem">TE COMPRAMOS TU COCHE </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>

    <!-- contenedor principal donde encontramos titulos, texto principal, tabla de especificaciones e imagen principal-->

    <div class="container-fluid" id="contenedorPrincipal">
        <div class="row justify-content-center" style="margin-top: 10px">
            <div class="col-sm-6">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <h1><strong>{{nombre}}</strong></h1>
                            <p id="textoPrincipal">{{descripcion}}</p>

                            <br>
                            <table class="table table-sm table-bordered table-dark" style=" border-color: olive;">
                                <thead>
                                    <tr>
                                        <th>Especificación</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Precio</td>
                                        <td>{{precio}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mano</td>
                                        <td>{{mano}}</td>
                                    </tr>
                                    <tr>
                                        <td>Kilometros</td>
                                        <td>{{kilometros}}</td>
                                    </tr>
                                    <tr>
                                        <td>Combustible</td>
                                        <td>{{combustible}}</td>
                                    </tr>
                                    <tr>
                                        <td>Transmisión</td>
                                        <td>{{transmision}}</td>
                                    </tr>
                                    <tr>
                                        <td>Caballos de potencia</td>
                                        <td>{{caballos}}</td>
                                    </tr>
                                <tbody>
                            </table>

                            <!-- Contenedor de los botones -->
                            <div class="d-flex">
                                <form action="/post/{{id}}/edit" method="get">
                                    <button type="submit" class="btn btn-secondary mr-2" id="boton">Editar</button>
                                </form>
                                <form action="/post/{{id}}/delete" method="get">
                                    <button type="submit" class="btn btn-danger mr-2" id="boton">Borrar</button>
                                </form>
                                <button type="submit" class="btn btn-success" id="boton"><a href="/">Ver todos los coches</a></button>
                            </div>

                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" style="width: 85%;" src="{{imagen}}">
            </div>
        </div>
    </div>
    
    <!-- Contenedor que contiene el formulario para añadir comentarios y las propias opiniones-->

    <div class="container-fluid">
        <div class="row">
            <div class="Formulario">
                <div class="titulo">
                    <h4> ¿Quieres dejar tu opinión sobre el producto? </h4>
                </div>
                <div class="container-fluid">
                    <form class="row" method="post" action="/post/{{id}}">
                        <div class="col-md-4">
    {{/post}}
                            <label for="name"> Nombre </label>
                            <input type="name" class="form-control" name="nombre" placeholder="Introduce un nombre"
                                required>
                        </div>
                        <div class="col-md-4">
                            <label for="email"> Email </label>
                            <input type="email" class="form-control" name="email" placeholder="Introduce un email"
                                required>
                        </div>
                        <div class="col-md-2">
                            <label for="cantidad">Valoración</label>
                            <input type="number" id="cantidad" name="valoracion" min="1" step="1" max="10"
                                class="form-control" required>
                        </div>

                        <div class="col-md-10">
                            <label for="comment"> Comentario </label>
                            <textarea class="form-control" name="comentario" placeholder="Introduce tu comentario"
                                id="floatingTextarea2"></textarea>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success" style="margin-top: 20px">Publicar</button>
                        </div>
                    </form>
                </div>

                <br><br>

                <div class="opiniones">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="p-4 rounded border" id="contenedorOpiniones">
                                    <h3>Opiniones</h3>
                                    {{#opiniones}}
                                        <div class="comment">
                                            <div class="row">
                                                <div class="col-11" style="word-wrap: break-word; overflow-wrap: break-word;">
                                                    <p><strong>{{nombre}}:</strong> {{comentario}}</p>
                                                </div>
                                                <div class="col-1 d-flex align-items-center">
                                                    <div class="rating-box rating-{{valoracion}}">{{valoracion}}</div>
                                                </div>
                                            </div>
                                        </div>  
                                    {{/opiniones}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br>


            
</body>

</html>
