/* Estilos para la barra de navegación */
.navbar {
    background-color: #343a40; /* Color de fondo de la barra de navegación */
}

.navbar-brand {
    color: #fff; /* Color del texto del logo */
}

.navbar-nav .nav-link {
    color: #fff; /* Color del texto de los enlaces en la barra de navegación */
}

.navbar-brand:hover {
    color: white;   /* Cambio de color al pasar el ratón por encima */
}

.item {/*Edita toda la barra superior de la pagina*/
    background: grey;
    min-height: 30px;
    min-width: 30px;
    border: 1px solid black;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}

/* Estilos contenedor principal */

#contenedorPrincipal {
    margin-top: 75px; /* Margen superior para el contenedor principal */
}

#textoPrincipal{
    text-align: justify; /* Justificado todos los margenes a la misma altura del texto */
    margin-top: 25px;
}

.table  {
    font-size: 15px; /* Reduce el tamaño de fuente de la tabla*/
}

#boton{
    margin-top: 20px; /* Margen superior para el boton */
    margin-right: 10px; /* Margen derecho para el boton */
}

/* Estilos para el título y el texto del contenido principal */
h1 {
    font-size: 45px; /* Tamaño de fuente del título */
    color: white; /* Color del texto del título */
}

h3 {
    font-size: 30px; /* Tamaño de fuente del subtítulo */
    color: white; /* Color del texto del subtítulo */
}
h4 {
    font-size: 25px; /* Tamaño de fuente del subtítulo */
    color: white; /* Color del texto del subtítulo */
}

p {
    font-size: 18px; /* Tamaño de fuente del texto principal */
    color: white; /* Color del texto principal */
}

/* Estilos para el formulario */

.Formulario{
    color: white;
    padding: 5%;  
}

label{
    margin-top: 10px;   /* Añade margenes a las etiquetas */
    margin-bottom: 5px; 
}

#contenedorOpiniones{      /* Añade colores al contenedor donde se colocan las opiniones (se añade el !important para sobreescribir la config de boostrap)*/
    border-color: white  !important;  
    background: #212529;
}

.comment {   
    padding-right: 70px; /* Espacio para la caja de valoración */
   
    
}

.comment p {
    margin-top: 13px;
}

.rating-1 { background-color: #FF0000; }
.rating-2 { background-color: #FF4000; }
.rating-3 { background-color: #FF8000; }
.rating-4 { background-color: #FFBF00; }
.rating-5 { background-color: #FFFF00; }
.rating-6 { background-color: #BFFF00; }
.rating-7 { background-color: #80FF00; }
.rating-8 { background-color: #40FF00; }
.rating-9 { background-color: #00FF00; }
.rating-10 { background-color: #00FF40; }

.rating-box {
    padding: 13px ;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

/* Estilos para el fondo*/

body{
    background-image: url(imagenes/fondo1.avif);
    background-size: cover; /*hace que la imagen se ajuste al texto*/
    background-repeat: no-repeat;/*evita que la imagen de fondo se repita*/
    background-attachment: fixed;/*fija la imagen en su sitio mientras se desplaza la pagina*/
    background-position: center; /* Centra la imagen de fondo */
   
}

/*Colores para los formularios si estan bien rellenados o no*/
input:invalid:required, textarea:invalid:required, select:invalid:required {/*Para que sallga en rojo si no has completado ese campo*/
    border: 2px solid red;
}
input:valid, textarea:valid, select:valid {/*Para que salga en azul cuando si has completado ese campo*/
    border: 2px solid blue;
}

/*texto de los botones*/

a{
    color:white;
    text-decoration: none;/*hace que no se subraye los botones si tienen un link*/
}
a:hover{/*texto del link cuando pasas el cursor por encima*/
    color:white;
}
